<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Final Project</title>
        <link href="/static/output.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.css"  rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"></script>
    </head>
    <body>
        <h3 class="bg-letters">You can contact us here:</h3>
        <input type="email" placeholder="Type your email">
        <button type="submit" class="bg-letters rounded font-bold">Contact</button>  

        
    </body>
</html>