{% extends 'layout.html' %}
{% block title %}Home Page{% endblock %}
{% block main %}

<div class="relative overflow-x-auto p-10">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 table-fixed border-spacing-2">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 font-test">
                    Patient Name
                </th>
                <th scope="col" class="px-6 py-3 font-test">
                    Patient age
                </th>
                <th scope="col" class="px-6 py-3">
                    Color chart
                </th>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Patient sex
                </th>
                <th scope="col" class="px-6 py-3">
                    Indications
                </th>
            </tr>
        </thead>
        <tbody>
            {% for row in order %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td>{{ row.patient_name }}</td>
                <td>{{ row.patient_age }}</td>
                <td>{{ row.color_chart }}</td>
                <td>{{ row.dates }}</td>
                <td>{{ row.patient_sex }}</td>
                <td>{{ row.indications }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}