<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/output.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.css"  rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
      {% if session["id"] %}  
      <nav class="bg-primary border-gray-200 px-2 sm:px-4 py-2.5  dark:bg-primary">
        <div class="ml-6 flex flex-wrap items-center justify-end">
          <a href="/" class="flex items-center">
            <img src="/static/logos/isotipo_horizontal.png" class="absolute left-5 top-4 h-6 mr-2.5 sm:h-9" alt="Campoverde dental Logo" />
          </a>
          <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
          </button>
          <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="flex flex-col p-4 mt-4 border border-primary rounded-lg bg-primary md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-primary dark:bg-primary md:dark:bg-primary dark:border-gray-700">
              <li class="px-8">
                <a href="/" class="block py-2 pl-10 pr-10 text-letters  md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-letters md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Your orders</a>
              </li>
              <li class="px-8">
                <a href="/order" class="block py-2 pl-10 pr-10 text-letters  md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-letters md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Order</a>
              </li>
              <li class="px-8">
                <a href="/location" class="block py-2 pl-10 pr-10 text-letters  md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-letters md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Location</a>
              </li>
              <li class="px-8">
                <a href="/logout" class="block py-2 pl-10 pr- text-letters  md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-letters md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Log Out</a>
              </li>
          </div>
        </div>
      </nav>
      {% endif %}

      {% block main %}
    
      {% endblock %}   
    </body>
    <footer class="fixed bottom-0 w-full bg-primary text-white text-center p-2">
      <p class="block m-1 text-left text-sm"> Copyright © 2023 Campoverde</p>
      <nav class="flex text-white no-underline">
        <p class="block text-sm m-1 p-1 text-gray-300">Phone Number: 432-234-1234</p>
        <p class="block text-sm m-1 p-1 text-gray-300">Email: email@gmail.com</p>
        <a href="https://www.instagram.com/automated_side_loader/" class="block text-sm m-1 p-1 text-gray-300">Instagram:</a>
      </nav>
    </footer>
</html>